<!--Navbar-->
<nav class="navbar navbar-light light-blue lighten-4">

  <!-- Navbar brand -->
  <%= link_to ('<i class="fas fa-dumpster"></i>').html_safe, root_path, class:"navbar-brand"  %>

  <%=link_to "Dump & Dumpster", root_path, class:"navbar-brand" %>


  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "My Posts", user_posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Add Post", new_post_path, class: "nav-link" %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to "Cleaning stations", cleaning_stations_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
