
      <div class="col-12 text-center">
        <h3 class="my-posts">My Posts</h3>
      </div>

<div class="container-sm">
<div class="row">
  <div class="col-sm-6">
    <div id="map"
        style="width: 100%; height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="cards">
    <% @user_posts.each do |post| %>
        <div class="card-product" data-id="<%=post.id%>">
          <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, width: 300, crop: "fill" %>
          <% else %>
          <img src="https://source.unsplash.com/random" />
        <% end %>
        <div class="card-product-infos" data-lng="<%= post.latitude %>" data-lat="<%= post.longitude %>">
        <h2> <%= post.description %> </h2>
        </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>

<%# <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>
