<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h3 class="typed-js"></h3>
  </div>
</div>

<div class=" py-4">
  <div class="row">
      <div class="col-9 text-center">
        <h1 class="my-posts">My Posts</h1>
      </div>
      <div class="col-3">
      </div>
  </div>
</div>

<div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <div class="cards">

        <div class="card-my-posts">
          <% @user_posts.each do |post| %>
            <%= post.description %>
            <%= post.latitude %>
            <%= post.longitude %>
            <% if post.photo.attached? %>
              <%= cl_image_tag post.photo.key, width: 300, crop: "fill" %>
          <% else %>
            <img src="https://source.unsplash.com/random" />
            </a>
          <% end %>
          </div>
    <% end %>
  </div>
</div>
